.tablemaker{
    padding: 50px;
}
#table-div{
    display: none;
}
table {
    border-collapse: collapse;
    width: 90%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.actions-thead{
    width: 120px;
}

#col-defs-div, #row-form-div{
    padding: 30px;
}

tr:nth-child(even) {
    background-color: #8a8686;
}